pycbc  # TODO: remove pycbc dependency
astropy
ligo-gracedb
ligo-proxy-utils

numpy
scipy
pandas
matplotlib

# ipykernel
# jupyter
# ipywidgets

# dev packages
pre-commit
black
isort
mypy
flake8
yapf
