astropy
black
flake8
isort
ligo-gracedb
ligo-proxy-utils
matplotlib
mypy

numpy
pandas

# ipykernel
# jupyter
# ipywidgets

# dev packages
pre-commit
pycbc  # TODO: remove pycbc dependency
scipy
yapf
